# Salary Prediction Model

### Import Libraries

In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

### Read Data

In [2]:
dataset = pd.read_csv("Salary_Data.csv")

### See Data

In [3]:
dataset.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

### Check Information about dataset

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 608.0 bytes

### Creating Training variables

In [5]:
x = dataset["YearsExperience"]

In [6]:
x = x.values.reshape(30,1)

In [7]:
y = dataset["Salary"]

### Create Model

In [8]:
model = LinearRegression()

### Split Dataset

In [9]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=42)

### Train Dataset

In [10]:
model.fit(X_train,y_train)

LinearRegression()

In [11]:
model.coef_

array([9423.81532303])

### Let's Predict

In [12]:
model.predict(X_test)

array([115790.21011287,  71498.27809463, 102596.86866063,  75267.80422384,
        55477.79204548,  60189.69970699])

In [13]:
y_test

27    112635.0
15     67938.0
23    113812.0
17     83088.0
8      64445.0
9      57189.0
Name: Salary, dtype: float64

In [14]:
model.intercept_

25321.583011776813